
@{
    ViewBag.Title = "Dashboard";
}
@model WebVentas.ViewModels.DashboardViewModel
<h2>Dashboard Gestion de Ventas</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Filtro Periodo.</p>
            
        </div>

        <div class="col-md-6">
            <p>Empleado.</p>
            <p>
                <div class="form-group">
                    @using (Html.BeginForm())
                    {
                        @Html.DropDownList("AsesorID", (SelectList)ViewBag.Asesores, "-- Seleccione un producto --")
                        @*<input type="submit" value="Mostrar detalles" />*@
                    }
                    }
                </div>

            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Indicadores</p>
        </div>

        

    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Objetivo</p>
            <p>
                @{
                    ViewBag.objetivo;
                }
            </p>
        </div>
        <div class="col-md-3">
            <p>Acumulado</p>
            <p>
                @{
                    ViewBag.acumulado;
                }
            </p>
        </div>
        <div class="col-md-3">
            <p>Indicador 3.</p>
        </div>
        <div class="col-md-3">
            <p>Indicador 4</p>
        </div>
    </div>

</div>
