
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard Gestion de Ventas</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Filtro Periodo.</p>
        </div>

        <div class="col-md-6">
            <p>Filtro Empleado.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Indicadores</p>
        </div>

        

    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Indicador 1</p>
        </div>
        <div class="col-md-3">
            <p>Indicador 2</p>
        </div>
        <div class="col-md-3">
            <p>Indicador 3.</p>
        </div>
        <div class="col-md-3">
            <p>Indicador 4</p>
        </div>
    </div>

</div>
