
@{
    ViewBag.Title = "Dashboard";
}
@model WebVentas.ViewModels.DashboardViewModel
<h2>Dashboard Gestion de Ventas</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Filtro Periodo.</p>
            <p>AGOSTO 2023.</p>
        </div>

        <div class="col-md-6">
            <p ><b>Asesor</b></p>
            <p>
                <div class="form-group">
                    @using (Html.BeginForm())
                    {
                        @Html.DropDownList("AsesorID", (SelectList)ViewBag.Asesores, "-- Seleccione un producto --")                        
                    }
                    }
                </div>

            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Indicadores</h4>
        </div>

        

    </div>
    <div class="row">
        <div class="col-md-3">
            <p><b>Objetivo</b></p>
            <p>
               @Model.oIndicador.Objetivo;
            </p>
        </div>
        <div class="col-md-3">
            <p><b>Acumulado</b></p>
            <p>
                @Model.oIndicador.Acumulado;
            </p>
        </div>
        <div class="col-md-3">
            <p><b>Indicador 3</b></p>
        </div>
        <div class="col-md-3">
            <p><b>Indicador 4 </b></p>
        </div>
    </div>

</div>
